@import "tailwindcss";

h1 {
  text-decoration: underline;
  text-decoration-style: solid;
  font-style: italic;
  color: burlywood;
}

b {
  color: burlywood;
}

body {
  margin: 0;
  padding: 0;
}

nav {
  min-height: 30px;
  margin: 0;
  /*padding: 10px 5px 10px 5px;*/
  background-color: rgb(36, 36, 77);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  top: 0;
  width: 100%;

  i {
    color: orange;
    size: 50px;
  }

  ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    li {
      margin: 0;
      padding: 0 0 5px 5px;
    }
    i {
      color: brown;
    }
    a {
      color: cornsilk
    }
  }
}